n8nModels/11.Blog_writer_agent/Blog writer.json
{
  "name": "Blog writer",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        -48
      ],
      "id": "48a8542e-7d73-41c9-9555-5c81d9173175",
      "name": "When chat message received",
      "webhookId": "3226a454-ed53-495a-b57c-ef1e2737fba9"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -224,
        160
      ],
      "id": "706af525-b6af-494b-b3a0-ad00ef137f3a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "82LM4CnYKsbmhe8B",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        160
      ],
      "id": "cd269ec7-0fac-4095-85fe-ff0e274262ed",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "gY82dsmgR8y4PG3y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "e191ddec-944e-4838-8af6-b27a9b1cca87",
      "name": "InternetSearch",
      "credentials": {
        "serpApi": {
          "id": "xuwnsMGdeZEoXyEl",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        144
      ],
      "id": "9b6c16f8-0cd3-474b-b14b-5e518606639e",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "82LM4CnYKsbmhe8B",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert blog writer. BAsed on the inputs received by you, you write a blog."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -48
      ],
      "id": "ef88ac53-3885-4036-95e0-b0634a425b36",
      "name": "Blog writer agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Your task is to search Internet through InternetSearch tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -48
      ],
      "id": "8eb42dfe-e136-4cbb-904e-a1feb49a85b2",
      "name": "Search agent"
    },
    {
      "parameters": {
        "content": "In PG chat memory all that you need is any user (say, kapil), his database, say kapil and password. *No Vector database needed*",
        "height": 112,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        288
      ],
      "typeVersion": 1,
      "id": "98377907-fb19-4aeb-bef8-fd29b6fc18f1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Just get an API from [here](https://serpapi.com/)",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        288
      ],
      "typeVersion": 1,
      "id": "64a28fe2-011e-4199-9d26-2fb188eadb31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "For both the chatmodels use *llama3.2*",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        288
      ],
      "typeVersion": 1,
      "id": "9ff96824-79b4-4cd8-9387-4a4c0d28fea7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**System message**: You are an expert blog writer. BAsed on the inputs received by you, you write a blog.",
        "height": 112,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -160
      ],
      "typeVersion": 1,
      "id": "23654155-579d-4595-83fb-7def56aa120a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**System Message**: You are a helpful assistant. Your task is to search Internet through InternetSearch tool.",
        "height": 96,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -144
      ],
      "typeVersion": 1,
      "id": "3d8651ea-c9c4-4f8a-b0c6-32694c33777c",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Search agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "InternetSearch": {
      "ai_tool": [
        [
          {
            "node": "Search agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog writer agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search agent": {
      "main": [
        [
          {
            "node": "Blog writer agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d7c36fb4-4f48-4083-9ec6-1cbf002cf3fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af45f44e149076c1b6fbc300329d021fdbc08c2cd82d691f742000de0a998802"
  },
  "id": "5CoPZSdSSiB0Y6uT",
  "tags": []
}