n8nModels/11.Blog_writer_agent/Blog writer.json
{
  "name": "Blog writer",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        112
      ],
      "id": "a5f14df0-b6b0-4b6c-9ee3-3785b4c23455",
      "name": "When chat message received",
      "webhookId": "3226a454-ed53-495a-b57c-ef1e2737fba9"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -480,
        320
      ],
      "id": "8e949526-b428-405c-92f2-a6ce5efe958b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "mudPJ1oZ72EnJlyv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_mychat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -336,
        320
      ],
      "id": "adfee86f-dcdb-4621-bb8d-3b177957bcb7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cbdKOc4SJNlErsV7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        16,
        304
      ],
      "id": "7feef12b-a76d-4e59-8491-613dfc86e55b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "mudPJ1oZ72EnJlyv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert blog writer. BAsed on the inputs received by you, you write a blog."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        112
      ],
      "id": "d53b4f4d-0deb-4d53-a580-08fe0e0a4d4d",
      "name": "Blog writer agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. You receive a prompt from user. Your task is to first search Internet using  internetSearch tool as per the prompt and then pass on the results. You will not reply from your own pre-trained knowledge."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        112
      ],
      "id": "89a1c4b2-4a0b-49c8-ac46-0cb4028843c8",
      "name": "Search agent"
    },
    {
      "parameters": {
        "content": "In PG chat memory all that you need is any user (say, kapil), his database, say kapil and password. *No Vector database needed*",
        "height": 112,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        448
      ],
      "typeVersion": 1,
      "id": "9ca06f2b-1387-46eb-bc35-aab85ac80472",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Just get an API from [here](https://serpapi.com/)",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        464
      ],
      "typeVersion": 1,
      "id": "dd3e73c5-be5b-4524-b15f-4ee8223621d7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "For both the chatmodels use *llama3.2*",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        448
      ],
      "typeVersion": 1,
      "id": "f158acc7-763d-4578-975a-dc19695c1273",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**System message**: You are an expert blog writer. BAsed on the inputs received by you, you write a blog.",
        "height": 112,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0020eadf-b018-4cc9-b335-823f489981b1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**System Message**: You are a helpful assistant. Your task is to search Internet through InternetSearch tool.",
        "height": 96,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        16
      ],
      "typeVersion": 1,
      "id": "e90628fe-01de-4b02-944b-d239637539d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "q": "=Task: {{ $json.chatInput }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        -160,
        336
      ],
      "id": "c60fc321-07ee-4856-a67f-7d029a61610b",
      "name": "internetSearch",
      "credentials": {
        "serpApi": {
          "id": "LBHoExWNK2Dr5h0w",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Be careful\n You must use SerpAPI Official tool. Otherwise there may not be search."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        112
      ],
      "typeVersion": 1,
      "id": "68ecc704-82e9-4b5e-b82e-78a66546bacb",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Search agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog writer agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search agent": {
      "main": [
        [
          {
            "node": "Blog writer agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "internetSearch": {
      "ai_tool": [
        [
          {
            "node": "Search agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1257e40a-5a8d-4182-a74b-97b2c9217ffa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "902e785c32021c0bcc14053d93633c43f340fc597c1f8feeced84ef40971442a"
  },
  "id": "WIYjepJ0g1m4HqkL",
  "tags": []
}