n8nModels/misc/data_transformation_and_filteration.json
{
  "name": "data transformation and filteration",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "461f3fd5-7fd8-4f3f-bf60-00f9665ceee1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b798fdec-af7a-4265-8dec-e5cc02d70343",
              "name": "address",
              "value": "[{   \"name\" : \"ashok\",   \"age\": 54   }, {   \"name\" : \"gautam\",   \"age\" : 23 }, {   \"name\" : \"savita\",   \"age\" : 84 }] ",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "eae8e255-cb2d-4876-906a-ac3925ad105f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "address",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "5aedd2d2-678c-4ebb-90eb-3ce2f428e9d9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f985021e-ed69-4d6a-a472-aa26da776f73",
              "leftValue": "={{ $json.address.name }}",
              "rightValue": "ashok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "91b23b0d-eebe-4a2a-96cf-c824b237a80f",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "address.age"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ],
      "id": "ff7aaa3b-ffa1-4ca1-aa5c-a5f7a4ff02f7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        180
      ],
      "id": "1af04f99-be87-4740-876c-268a75d39a23",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51e455e2-6ac0-4209-8db2-45112dc20f7a",
  "meta": {
    "instanceId": "643c0f07c9b5486e1f186477774557d513d350a9281e13fdee220c7843b6a385"
  },
  "id": "Lq3zLGk0T3pr09rk",
  "tags": []
}