n8nModels/9.dates_and_time/Working with dates and times.json
{
  "name": "Working with dates and times",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        860,
        240
      ],
      "typeVersion": 1,
      "id": "a821a749-a4d2-43f6-9df9-809f74de9ddc"
    },
    {
      "parameters": {
        "content": "## 2. Advanced way: Using Expressions\nIn this `Set` node, we set dates using [Luxon expressions](https://docs.n8n.io/code-examples/expressions/luxon/) for the following formats:\n\nNow - `{{$now}}`\nCurrent time with seconds - `{{$now.toLocaleString(DateTime.TIME_WITH_SECONDS)}}`\nToday - `{{$today}}`\nTomorrow - `{{$today.plus({days: 1})}}`\nOne hour ago - `{{$now.minus({hours: 1})}}`\nWeekday name - `{{$today.weekdayLong}}`\n\n",
        "height": 400,
        "width": 560
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        220
      ],
      "typeVersion": 1,
      "id": "be36855a-dda6-4992-88a4-7be11fb5a531"
    },
    {
      "parameters": {
        "content": "### Click the `Execute Workflow` button and double click on the nodes to see the input and output items.",
        "height": 100,
        "width": 420
      },
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "a58e2550-120a-4888-afc6-97e2c09a5563"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$now}}",
        "duration": 12,
        "timeUnit": "hours",
        "options": {}
      },
      "name": "12 Hours from now",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1240,
        40
      ],
      "typeVersion": 1,
      "id": "85ce738d-67fd-4456-8cde-0bb457af6176"
    },
    {
      "parameters": {
        "content": "## 1. Simple Way: Using the Date & Time node\nThere are two actions available within the `Date & Time` node:\n1. Calculating a date - adding/substracting minutes,hours, days, etc.\n2. Formatting a date\n\n",
        "height": 340,
        "width": 560
      },
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -140
      ],
      "typeVersion": 1,
      "id": "105c8478-5cd1-4330-ab95-a1524f6cc9c4"
    },
    {
      "parameters": {
        "content": "### 2.1 Working with an existing time string\nAs items pass between nodes, n8n saves dates as ISO strings. This means that in order to work with the data as a date again, we need to convert it back using `DateTime.fromISO('yyyy-mm-dd')`\n. Once doing that, we are able to apply date and time function again such as : `{{DateTime.fromISO($json[\"Now\"]).toFormat('yyyy LLL dd')}}`",
        "height": 320,
        "width": 480
      },
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1820,
        300
      ],
      "typeVersion": 1,
      "id": "63b257e2-bd9a-4233-a3c4-f0be6b0c7194"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Now",
              "value": "={{$now}}"
            },
            {
              "name": "Current time with seconds",
              "value": "={{$now.toLocaleString(DateTime.TIME_WITH_SECONDS)}}"
            },
            {
              "name": "Today",
              "value": "={{$today}}"
            },
            {
              "name": "Tomorrow",
              "value": "={{$today.plus({days: 1})}}"
            },
            {
              "name": "One hour from now",
              "value": "={{$now.minus({hours: 1})}}"
            },
            {
              "name": "Weekday",
              "value": "={{$today.weekdayLong}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set times",
      "type": "n8n-nodes-base.set",
      "position": [
        1240,
        480
      ],
      "typeVersion": 1,
      "id": "26bd7081-a942-491e-90d8-e63b424ab606"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Current time",
              "value": "={{DateTime.fromISO($json[\"Now\"])}}"
            },
            {
              "name": "Current time formatted",
              "value": "={{DateTime.fromISO($json[\"Now\"]).toFormat('yyyy LLL dd')}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Edit times",
      "type": "n8n-nodes-base.set",
      "position": [
        1960,
        460
      ],
      "typeVersion": 1,
      "id": "4b3d99b0-41dd-4b11-9106-9a7cda172dc9"
    },
    {
      "parameters": {
        "value": "={{$now}}",
        "toFormat": "MMMM DD YYYY",
        "options": {}
      },
      "name": "Format - MMMM DD YY",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1520,
        20
      ],
      "typeVersion": 1,
      "id": "92b28bb2-03d4-406b-813a-e7492b35f3d8"
    },
    {
      "parameters": {
        "content": "## How to convert \"30/07/2025\" to date format\nSee this link: https://moment.github.io/luxon/#/parsing?id=fromformat",
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1720,
        680
      ],
      "id": "2205cd3e-3ef8-4a12-9d87-a654185df92a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d0988a8-871a-4ec7-a53f-b63d9112fdd7",
              "name": "Now",
              "value": "={{$now  }}",
              "type": "string"
            },
            {
              "id": "771d697d-502f-4b35-a690-2f097b17c030",
              "name": "twenty minutes from now",
              "value": "={{ $now.plus(20, 'minutes') }}",
              "type": "string"
            },
            {
              "id": "e41fa7d8-a157-4ab0-a986-ea01dcc47f06",
              "name": "20 minutes back",
              "value": "={{ $now.minus(20, 'minutes') }}",
              "type": "string"
            },
            {
              "id": "2a8c97e5-901c-4db3-9d83-dea6850a34cb",
              "name": "snow",
              "value": "30/07/2025",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        680
      ],
      "id": "2e66b4f3-8b18-4bdd-afe1-4e9c2ec0632d",
      "name": "date fields & string field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ea390b0-9ec8-46b4-b236-efaf342a22ea",
              "name": "snow",
              "value": "={{ DateTime.fromFormat($json.snow, 'dd/MM/yyyy') }}\n",
              "type": "string"
            },
            {
              "id": "c20eb577-614e-4319-8445-09c655fae6fb",
              "name": "abc",
              "value": "={{ $json.snow }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        680
      ],
      "id": "af402329-1546-4dd0-b15a-86d515b4cf37",
      "name": "string field to date"
    }
  ],
  "pinData": {},
  "connections": {
    "Set times": {
      "main": [
        [
          {
            "node": "Edit times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Hours from now": {
      "main": [
        [
          {
            "node": "Format - MMMM DD YY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set times",
            "type": "main",
            "index": 0
          },
          {
            "node": "12 Hours from now",
            "type": "main",
            "index": 0
          },
          {
            "node": "date fields & string field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit times": {
      "main": [
        []
      ]
    },
    "date fields & string field": {
      "main": [
        [
          {
            "node": "string field to date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c84c8c0e-cd62-4a40-b45b-3ae583070797",
  "meta": {
    "templateId": "1744",
    "instanceId": "c18808a78a5f8777e36e6d41e26b9385cd437732b11e264f8e8423b4a62eeb9f"
  },
  "id": "iFgsSjfKnioInQNC",
  "tags": []
}