n8nModels/1.simple calculator/Calculator_AI_Agent_with_smtp_III.json
{
  "name": "workflow_with_smtp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        920,
        400
      ],
      "id": "e2ccd0a5-ea8e-44c3-a53e-34df1c0ad5f3",
      "name": "When chat message received",
      "webhookId": "ce6ef937-84b6-4afa-908c-9f4d8d485204"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1100,
        720
      ],
      "id": "44374d8b-a5e6-4664-9e17-3a086d919da8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "DHAsGAjJ88uDRb2k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1260,
        740
      ],
      "id": "6e3ea5f0-0ed5-4343-90ec-95a6fb8de00d",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1440,
        700
      ],
      "id": "78e97b18-3c60-4285-abab-121f7c53a205",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## Simple Calculator Agent-II      \n### [Ref video here](https://www.youtube.com/watch?v=y9m3i12qkms)\nUses Windows Buffer Memory and SMTP node",
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        180
      ],
      "id": "6952d580-afcf-405d-8836-9d24c156b919",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1140,
        400
      ],
      "id": "5a9d8af7-cb80-4a5b-b5ba-8381b88a9f59",
      "name": "Calculator Agent"
    },
    {
      "parameters": {
        "fromEmail": "ashok@fsm.ac.in",
        "toEmail": "ccma@fsm.ac.in",
        "subject": "Result",
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1500,
        400
      ],
      "id": "bbb90013-734c-4620-b38d-22ea1df517c0",
      "name": "Send Email1",
      "webhookId": "264f5827-d0c7-4822-a602-c89a6b493616",
      "credentials": {
        "smtp": {
          "id": "QREfTPUpDpZduVvC",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calculator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Agent": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "479ee36b-4515-41f0-b237-45ef09752bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "643c0f07c9b5486e1f186477774557d513d350a9281e13fdee220c7843b6a385"
  },
  "id": "ebM7ufWuttGBpRWb",
  "tags": []
}